<div *ngIf="loginTrue" class="container-fluid">
  <div class="col-md-12">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img src="../../assets/images/vote-box.jpg" width="30" height="30" class="d-inline-block align-top" alt="Vote"> Vote
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Results</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <vote-carousel *ngIf="viewFlag"></vote-carousel>
    <div *ngIf="viewFlag" class="row add-a-poll">
      <br>
      <div class="col-md-4 quote">
        <blockquote class="blockquote text-center">
          <p class="mb-0">“We do not have government by the majority. We have government by the majority who participate.”</p>
          <footer class="blockquote-footer">Thomas Jefferson
          </footer>
        </blockquote>
      </div>
      <div class="col-md-8 card-container">
        <div class="card">
          <div class="card-header">
            <p class="lead poll-header text-center">Create A Poll</p>
          </div>
          <div class="card-body">
            <h5 class="card-title">Fill the category and the candidature for the poll:</h5>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="form-group title col-md-6">
                  <input type="text" formControlName="title" class="form-control" placeholder="Title">
                </div>
                <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                  <div *ngIf="title.errors.required">Title is required</div>
                </div>
                <div class="form-group name col-md-6">
                  <input type="text" formControlName="name" class="form-control" placeholder="Name">
                </div>
              </div>
              <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                <div *ngIf="name.errors.required">Candidtate is required</div>
              </div>
              <button type="submit" class="btn btn-primary">Submit Poll</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>